<div class="container">
  <div>
  <h1>Équipes de la <%= @division.name %></h1>
  </div>

 <div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Played</th>
        <th>Rank</th>
      </tr>
      <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.score %></td>
        <td><%= team.played %></td>
        <td><%= team.rank %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
