<div class="container">
<h1>Joueurs seuls</h1>

  <div>
    <table class="table players">
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Tel</th>
        <th>Rejoindre</th>
        <th>Valider</th>
      </tr>
      <% @players.each do |player| %>


        <tr class = "players">

        <td><%= player.id %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>

        <td><%= player.phone %></td>
        <% if current_user.team_id.nil? %>
          <td><%= link_to 'joindre', teams_asking_player_path(player), method: :patch %></td>
          <td></td>
        <% elsif !current_user.receiver && current_user.team_id == player.team_id %>
          <td><%= link_to 'annuler', teams_refused_player_path(player), method: :patch %> </td>
          <td></td>
        <% elsif current_user.receiver && current_user.team_id == player.team_id %>
          <td><%= link_to 'refuser', teams_refused_player_path(player), method: :patch %> </td>
          <td><%= link_to 'accepter', teams_accept_player_path(player), method: :patch %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

