<div class="container">
<h1>Players</h1>

  <div>
    <table class="table players">
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>email</th>
        <th>Tel</th>
        <th>Join</th>
      </tr>
      <% @players.each do |player| %>
      <tr class = "players">
        <th><%= player.id %></th>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.email %></td>
        <td><%= player.phone %></td>
        <% if current_user.team_id.nil? %>
          <td><%= link_to 'join', teams_path(player), method: :post %></td>
        <% elsif current_user.team_id == player.team_id %>
          <td><%= link_to 'cancel', team_path(player), method: :patch %> </td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

